server:
  max-http-request-header-size: 64KB
  servlet:
    context-path: ${context.path}
  tomcat:
    max-swallow-size: 20MB

spring:
  datasource:
    url: ${db.url}
    username: ${db.user}
    password: ${db.pass}
  jpa:
    database: mysql
    hibernate:
      ddl-auto: none
    open-in-view: false
  mvc:
    servlet:
      load-on-startup: 1
  profiles:
    active: dev

ltitool:
  toolName: posted-feedback
  baseUrl: ${baseUrl}
  canvas:
    apiUrl: ${api.url}
    apiToken: ${api.token}