<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout}">
<head>
    <script type="text/javascript" th:inline="javascript">
        function setFileName()
        {
            var filename = $('#myFile').val().split('\\').pop();
            $('#fileTitle').val($('#myFile').val().split(/[\/\\]/).pop().split('.')[0]);
            $('#filename').val(filename);
            $('#filename').attr('placeholder', filename);
            $('#filename').focus();
        }
        function checkExistingFile()
        {
            if($('#myFile').val().length > 0){

                 var fileTitleText = $('#fileTitle').val();

                 /*<![CDATA[*/

                 var courseFiles1 =  /*[[${courseFiles}]]*/;
                 for(let i=0; i<courseFiles1.length; i++){
                    if(fileTitleText == courseFiles1[i].displayName){
                        return confirm('Overwrite existing file?');
                    }
                 }

                /*]]>*/

                return true;
            }
            else{

                let html1 = '<div class="alert alert-danger alert-dismissable" role="alert" aria-live="assertive">'
                html1 += '<a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a><strong>'
                html1 += 'No file uploaded. Please upload a valid CSV file';
                html1 += '</strong><br></div>';
                $("#alerts_div").html(html1);
                $("#alerts_div").show();
                return false;
            }

        }

        function addAriaClasses(){

             $('.paginate_button').each(function () {
                    $(this).attr("aria-label", "Go to page " + $(this).text());
             });

             $('.page-link').each(function () {
                   let attr = $(this).attr('aria-current');
                   if (typeof attr !== 'undefined' && attr !== false) {
                      $(this).attr("aria-label", "Page " + $(this).text() + ". Current Page. " + $("#feedbackTable_info").html());
                   }

                   let attr2 = $(this).attr('aria-disabled');
                   if (typeof attr2 !== 'undefined' && attr2 !== false) {
                     $(this).attr("tabindex", "-1");
                  }
             })

             $("#feedbackTable_previous").attr("aria-label", "Go to previous page");
             $("#feedbackTable_next").attr("aria-label", "Go to next page");
        }
        $(document).ready(function(){
             var table = $('#feedbackTable').DataTable({
                searching: false,
                initComplete: function(settings, json) {
                  addAriaClasses();
                }
             });

             $('#feedbackTable').on( 'draw.dt', function () {
                addAriaClasses();
             } );

        });
    </script>
</head>

<body>
<div layout:fragment="content">
    <div class="panel panel-default">
        <div class="panel-body">
            <div>
                <h2 th:text="#{dashboard.description.text}"></h2>
                <div class="text-default" th:utext="#{dashboard.description}"></div>
                <h2 th:text="#{dashboard.instructions.text}"></h2>
                <div class="text-default">
                <ol style="margin-left:-25px">
                    <li th:utext="#{dashboard.instructions}"></li>
                    <li th:utext="#{dashboard.uploadinstructions}"></li>
                </ol>
                </div>
            </div>
        </div>
    </div>
            <div class="form-group">
                <div  id="alerts_div" style="display:none"></div>
                <div class="alert alert-danger alert-dismissable" role="alert" aria-live="assertive" th:if="${ status == 'error'}">
                    <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                    <strong><span th:text="${description}" /></strong><br>
                    <ul style="padding-left:20px" th:if="${badUsers != null}">
                        <li th:each="badUser : ${badUsers}"><span th:text="${badUser}" /></li>
                    </ul>
                </div>
                <div class="alert alert-success alert-dismissable" role="alert" aria-live="assertive" th:if="${ status == 'success'}">
                    <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                    <strong><span th:text="${description}" /></strong><br>
                </div>
                <h2 th:text="#{dashboard.updatefeedback}"></h2>
                <a th:href="@{'/downloadFile' }" th:text="#{dashboard.downloadtemplate}"></a><br>
            </div>
        <form th:action="@{/upload}" onsubmit="return checkExistingFile()" method="post" enctype="multipart/form-data">
            <div class="form-group">
                <label for="myFile" id="choose" th:text="#{dashboard.feedbackfile}"></label><br/>
                <button id="uploadButton" type="button" class="btn btn-custom" onclick="document.getElementById('myFile').click(); return false;" aria-labelledby="choose uploadButton">Choose File</button>
                <input type="file" class="form-control-file" name="myFile" id="myFile" onchange="setFileName()" style="display: none;"/>
                <label for="filename" class="hide">
                    Uploaded File
                </label>
                <input type="text" id="filename" autocomplete="off" readonly placeholder="No File Uploaded" aria-labelledby="fileHelp filename"><br/>
                <small id="fileHelp" class="form-text text-muted" th:text="#{dashboard.filesizeinfo}"></small>
            </div>
            <div class="form-group">
                <label for="fileTitle" th:text="#{dashboard.title}"></label><br>
                <input type="text" id="fileTitle" name="fileTitle"/>
            </div>
            <div class="form-group">
                <label>
                    <input type="checkbox" name="releaseCheckbox" />
                    <span th:text="#{dashboard.releasetoparticipants}"></span>
                </label>
            </div>
            <div class="form-group">
                <button type="submit" class="btn btn-custom-dark">Upload</button>
            </div>
        </form>
        <div class="table_wrapper">
        <table class="table table-bordered" id="feedbackTable" data-toggle="table" data-pagination="true" data-pagination-v-align="bottom" data-smart-display="true" data-page-size="10" data-sort-name="title" data-sort-order="asc">
        <thead style="background-color: #f5f5f5;">
        <tr>
            <th scope="col" data-sortable="true" data-field="title" th:text="#{dashboard.table.header1}"></th>
            <th scope="col" data-sortable="true" data-field="modified by" th:text="#{dashboard.table.header2}"></th>
            <th scope="col" data-sortable="true" data-field="last modified" th:text="#{dashboard.table.header3}"></th>
            <th scope="col" data-sortable="true" data-field="released" th:text="#{dashboard.table.header4}"></th>
            <th scope="col" data-sortable="true" data-field="actions" th:text="#{dashboard.table.header5}"></th>
        </tr></thead>
        <tbody>
            <tr th:each="courseFile : ${courseFiles}">
                <th scope="row"><span th:text="${courseFile.displayName}" /></th>
                <td><span th:text="${courseFile.modifiedBy}" /></td>
                <td><span th:text="${courseFile.updatedAt}" /></td>
                <td>
                    <span th:text="${courseFile.hidden? 'Yes' : 'No' }" />
                </td>
                <td style="width:200px">
                    <div class="dropdown">
                      <button class="btn btn-custom dropdown-toggle" type="button" id="dropdownMenu${courseFileStat.index}" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Actions
                        <span class="caret"></span>
                      </button>
                      <ul class="dropdown-menu" aria-labelledby="dropdownMenu${courseFileStat.index}">
                        <li><a th:href="@{'/viewFile?fileId=' + ${courseFile.fileId} }" th:text="#{dashboard.table.action1}"></a></li>
                        <li><a th:href="@{'/studentView?fileId=' + ${courseFile.fileId} }" th:text="#{dashboard.table.action2}"></a></li>
                        <li><a th:href="@{'/editFile?fileId=' + ${courseFile.fileId} + '&editType=rename' + '&displayName='+ ${courseFile.displayName} }"  th:text="#{dashboard.table.action3}"></a></li>
                        <li><a th:href="@{'/editFile?fileId=' + ${courseFile.fileId} + '&editType=add' + '&displayName='+ ${courseFile.displayName} }" th:text="#{dashboard.table.action4}"></a></li>
                        <li><a th:href="@{'/downloadCSV?fileId=' + ${courseFile.fileId} }">Download</a></li>
                        <li th:if="${courseFile.hidden}"><a th:href="@{'/unrelease?fileId=' + ${courseFile.fileId} + '&displayName='+ ${courseFile.displayName} }" th:text="#{dashboard.table.action5}"></a></li>
                        <li th:if="${!courseFile.hidden}"><a th:href="@{'/release?fileId=' + ${courseFile.fileId} + '&displayName='+ ${courseFile.displayName} }" th:text="#{dashboard.table.action6}"></a></li>
                        <li role="separator" class="divider"></li>
                        <li><a th:href="'#fileModal_'+${courseFile.fileId}" data-toggle="modal" th:attr="data-target='#fileModal_' + ${courseFile.fileId}" th:text="#{dashboard.table.action7}"></a></li>
                      </ul>
                    </div>
                    <div style='display:none' th:id="'fileModalMessage_' + ${courseFile.fileId}"> Are you sure you want to Delete <span th:text="${courseFile.displayName}" />? Yes </div>
                    <div th:id="'fileModal_'+ ${courseFile.fileId}" class="modal fade" tabindex="-1" role="dialog">
                        <div class="modal-dialog modal-lg" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title">Confirm Delete File</h5>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                                <div class="modal-body" role="text">
                                  Are you sure you want to Delete <span th:text="${courseFile.displayName}" />?
                                </div>
                                <div class="modal-footer">
                                    <a th:href="@{'/delete?fileId=' + ${courseFile.fileId}  }" style="text-decoration:none" role="button" class="btn btn-custom-dark" aria-labelledby="fileModalMessage_${courseFile.fileId} ">Yes</a>
                                    <button type="button" class="btn btn-custom-dark" data-dismiss="modal">Close</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </td>
            </tr>
        </tbody>
    </table>
    <br/><br/>
    </div>
</div>
</body>
</html>