<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout}">
<head>
    <script type="text/javascript">
             function addAriaClasses(){

                 $('.paginate_button').each(function () {
                        $(this).attr("aria-label", "Go to page " + $(this).text());
                 });

                 $('.page-link').each(function () {
                       let attr = $(this).attr('aria-current');
                       if (typeof attr !== 'undefined' && attr !== false) {
                          $(this).attr("aria-label", "Page " + $(this).text() + ". Current Page. " + $("#studentViewTable_info").html());
                       }
                       let attr2 = $(this).attr('aria-disabled');
                       if (typeof attr2 !== 'undefined' && attr2 !== false) {
                            $(this).attr("tabindex", "-1");
                       }
                 })

                 $("#studentViewTable_previous").attr("aria-label", "Go to previous page");
                 $("#studentViewTable_next").attr("aria-label", "Go to next page");
            }
            $(document).ready(function(){
                 var table = $('#studentViewTable').DataTable({
                         fixedColumns:   {
                             left: 1
                         },
                         initComplete: function(settings, json) {
                           addAriaClasses();
                         }
                 });
                 $('#studentViewTable').on( 'draw.dt', function () {
                     addAriaClasses();
                  } );
            });
        </script>
</head>

<body>
<div layout:fragment="content">
    <div class="panel panel-default">
        <div class="panel-heading"> <label><span th:text="${displayName}" /> </label>  <span th:if="${released == true}" th:text="#{instructor.viewFile.released}" /> <span th:if="${released != true}" th:text="#{instructor.viewFile.unreleased}" /> </div>
        <div class="panel-body" th:utext="#{instructor.viewFile.instructions}">
        </div>
    </div>
    <div class="table_wrapper" tabIndex="1">
    <table class="table table-bordered" id="studentViewTable" data-toggle="table" data-pagination="true" data-pagination-v-align="bottom" data-smart-display="true" data-page-size="10" data-sort-name="title" data-sort-order="asc">
        <thead style="background-color: #f5f5f5;">
            <tr>
                <th data-sortable="true" scope="col" th:each="header : ${headers}"><span th:text="${header}" /></th>
                <th data-sortable="true" scope="col">Last Checked</th>
            </tr>
        </thead>
        <tbody>
                <tr th:each="content : ${contents}">
                    <td th:each="contentRow, contentRowStat : ${content}" ><span th:text="${contentRow}" /></td>
                    <td><span th:text="${userActivity.get(content[0]).lastViewedString}" th:if="${userActivity.get(content[0]) != null }" /><span text="Never" th:if="${userActivity.get(content[0]) == null}" /></td>
                </tr>
        </tbody>
    </table></div>
    <br><br>
    <a th:href="@{'/instructorHome'}" class="btn btn-custom-dark" style="text-decoration:none" role="button">Back</a>
</div>
</body>
</html>